body{
    font-family: "Trebuchet MS";
}
h1{
    color: firebrick;
    font-size: 3em;
    text-align: center;
}
h2{
    color: deepskyblue;
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    color: cyan;
}
p{
    color: teal;
}
ul li{
    color: blueviolet;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.column{
    float: right;
    width: 30%;
    padding: 10px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}
